body {
    color: rgb(2, 39, 117);
}

div.card {
    margin: 10px;
}

div.contenedorcards {
    width: 100%;
    height: 100%;
    margin-left: 90px;
    display: flex;
    justify-content: space-evenly;
}

main.carta {
    width: 90%;
    height: 90%;
}

div.container-fluid {
    background-color: rgba(129, 129, 129, 0.651);
}

p.text-left {
    color: rgb(228, 216, 216);
    font-family: Tahoma;
}

h1 {
    color: rgb(228, 216, 216);
    font-family: Tahoma;
    text-align: center;
}

a.nav-link {
    color: rgb(29, 20, 20);
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    letter-spacing: 3px;
}

a.nav-link:hover {
    color: rgb(146, 15, 15);
}

div h1 {
    color: rgb(0, 0, 0);
    size: 20px;
    font-size: 30px;
    font-family: 'Gill Sans';
    margin: 30px;
}

div h2 {
    color: burlywood;
    font-size: 20px;
    letter-spacing: 2px;
}

div h3 {
    color: rgb(250, 243, 233);
    font-size: 18px;
    letter-spacing: 2px;
}

h2.total {
    color: rgb(37, 126, 44);
}