div {
    background-color: rgba(15, 15, 27, 0.651);
}

h1 {
    color: darkgray;
    font-family: Tahoma;
    text-align: center;
}

a.nav-link {
    color: darkgray;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    letter-spacing: 3px;
}

a.nav-link:hover {
    color: whitesmoke;
}

div h2 {
    color: burlywood;
    font-size: 20px;
}